<%- include('header') %>
<div class="container">
  <nav>
    <ul>
      <li>
        <a href="#" class="logo">
          <img src="/images/Box_design/logo.png" alt="" />
          <!-- <span class="nav-item">Atlux168</span> -->
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fas fa-home"></i>
          <span class="nav-item">Home</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fas fa-user"></i>
          <span class="nav-item">Profile</span>
        </a>
      </li>
      <li><a href="#"></a></li>
    </ul>
  </nav>
</div>
